:root {
    /* colors */
    --gray-0: rgb(248, 249, 250);
    --gray-05: rgb(243, 246, 249);
    --gray-1: rgb(241, 243, 245);
    --gray-2: rgb(233, 236, 239);
    --gray-25: rgb(229, 234, 240);
    --gray-3: rgb(222, 226, 230);
    --gray-4: rgb(207, 212, 217);
    --gray-45: rgb(195, 202, 209);
    --gray-5: rgb(173, 181, 189);
    --gray-6: rgb(134, 142, 150);
    --gray-7: rgb(75, 80, 86);
    --gray-8: rgb(49, 54, 59);
    --gray-9: rgb(33, 37, 41);
    --gray-10: rgb(22, 25, 28);
    --green: rgb(81, 182, 129);
    --green-1: rgb(149, 205, 127);
    --green-2: rgb(115, 177, 138);
    --green-3: rgb(77, 137, 148);
    --green-4: rgb(48, 97, 157);
    --green-5: rgb(48, 55, 157);
    --red: rgb(243, 70, 70);
    --red-1: rgb(239, 207, 74);
    --red-2: rgb(224, 169, 68);
    --red-3: rgb(211, 125, 54);
    --red-4: rgb(205, 88, 60);
    --red-5: rgb(171, 46, 63);
    --blue: rgb(7, 167, 230);
    --blue-1: rgb(112, 189, 238);
    --blue-2: rgb(97, 139, 225);
    --blue-3: rgb(91, 94, 213);
    --blue-4: rgb(98, 58, 198);
    --blue-5: rgb(88, 17, 159);
    --rainbow-1: rgb(218, 102, 183);
    --rainbow-2: rgb(117, 73, 240);
    --rainbow-3: rgb(73, 137, 198);
    --rainbow-4: rgb(114, 191, 141);
    --rainbow-5: rgb(244, 201, 80);
    --orange: rgb(255, 126, 34);
    --yellow: rgb(252, 166, 42);
    --pink: rgb(232, 85, 179);
    --purple: rgb(98, 58, 198);
    --indigo: rgb(90, 67, 241);
    --indigo-dark: rgb(69, 9, 207);
    --indigo-light: rgb(150, 155, 245);
    --indigo-muted: rgb(241, 242, 253);
    --color-neutral-muted: rgba(175,184,193,0.2)

    --gray-2-grad: 233, 236, 239;
    --gray-3-grad: 222, 226, 230;

    --nav-height: 3rem;     /* nav bar height */
    --main-header-height: 10rem;    /* first heading of the page */
    --greet-height: 33.5rem;
    
    --main-offset: var(--nav-height);
    --page-offset: calc(var(--main-offset) + var(--main-header-height));

    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--main-offset) + 0.5rem);
    font-size: 16px;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

/* For disabling that outline around input boxes */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* For disabling that blue highlight on links */
input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    background-color: var(--gray-8);
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0.5rem 0;
    letter-spacing: -0.01rem;
    line-height: 1.6rem;
}

ul, ol {
    line-height: 1.6rem;
    padding-left: 1.5rem;
}

li {
    padding-left: 0.25rem;
    margin-bottom: 0.2rem;
}

h1, h2, h3, h4 {
    letter-spacing: -0.03rem;
    font-weight: 600;
}

h1 {
    font-size: 2.8rem;
    margin: 0 0 1.2rem;
}

h2 {
    font-size: 2rem;
    margin: 0 0 1rem;
}

h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.4rem;
}

h4 {
    font-size: 1rem;
    margin: 0.8rem 0 0.2rem;
}

a {
    text-decoration: none;
    color: #3e54cf;
}

a:hover {
    text-decoration: underline;
}

.button {
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    border: 2px solid var(--gray-5);
    background-color: transparent;
    color: var(--gray-7);
    border-radius: 0.25rem;
    height: fit-content;
}

.button:hover {
    border: 2px solid var(--gray-6);
    text-decoration: none;
}

.button:active {
    border: 2px solid black;
}

/********** Navigation **********/

nav {
    position: sticky;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: 450;
    top: 0;
}

/* Nav bar on top */
#nav-bar {
    top: 0;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    padding: .2rem;
    background-color: var(--gray-9);
    height: var(--nav-height);
}

/* Nav items within nav bar */
#nav-colapse-items {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

#nav-colapse-items li {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 0 2.5rem;
    padding: 0;
}

#nav-colapse-items a, #nav-exp-items a {
    color: var(--gray-4);
    transition: all 0.05s ease-in;
}

#nav-colapse-items a:hover, #nav-exp-items a:hover {
    font-weight: 500;
    color: white;
}

/* Nav items within expanded nav */
#nav-exp-items {
    width: 100%;
    background-color: var(--gray-9);
    position: absolute;
    padding-bottom: 0.5em;
}

#nav-exp-items li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

button.menu {
    display: none;
    background-color: transparent;
    border: none;
    border-radius: .275rem;
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 0.2rem;
}

button.menu path, button.menu g {
    fill: rgb(255, 255, 255);
}

button.menu:active {
    background-color: #0f0f0f;
}

@media screen and (max-width: 550px){
    #nav-colapse-items {
        display: none;
    }

    button.menu {
        display: block;
    }
}
@media screen and (min-width: 550px) {
    #nav-exp-items {
        display: none;
    }
}

/********* Greet div *********/

.greet {
    background-color: transparent;
    padding: 1.5rem 2rem 1rem;
    text-align: center;
    font-size: 1.1rem;
}

h1.profile-name {
    color: white;
    margin: 0 0 0.8rem;
    font-size: 2rem;
}

div.greet p {
    color: var(--gray-3);
    margin: 0 0 0.8rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Profile picture */
div.pp {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin: 0 auto 1rem;
    box-shadow: 0 0 4px 2px var(--gray-10);
}

div.social {
    margin: 0 0 0.8rem;
    display: flex;
    justify-content: center;
}

div.social svg {
    fill: var(--gray-4);
    width: 1.5em;
    height: 1.5em;
    margin: 0px 5px;
}

div.social a:active svg, div.social a:hover svg {
    fill: white;
}

/* Main */
main {
    padding-bottom: 0.1rem;
    background-color: var(--gray-05);
}

/* Footer */
footer {
    padding: 1.5rem 1rem;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 4rem;
    background-color: transparent;
    color: #ededed;
    text-align: center;
}

/********* Home *********/

/* sections */
.container {
    margin: 1rem 0 3rem;
    padding: 0 2.8rem;
}

.head-container {
    padding: 3.4rem 2.8rem 1rem;
}

.head-container > h1 {
    line-height: 1.15;
    font-weight: 650;
    margin: 0;
}

/* hero section */
header.hero {
    background: no-repeat url(media/logo-white.svg), 
    linear-gradient(180deg, rgba(var(--gray-3-grad), 1) 0%, 
                    rgba(var(--gray-3-grad), 0.75) 50%, 
                    rgba(var(--gray-3-grad), 0.5) 75%, 
                    rgba(var(--gray-3-grad), 0) 95%,
                    rgba(var(--gray-3-grad), 0) 100%);
    background-size: contain;
    background-position: right top;
}

p.hero-description {
    margin: 1.5rem 0 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: normal;
    color: #312B25;
}

/* headings */

h1 > a, h2 > a, h3 > a {
    color: black;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover {
    text-decoration: underline;
}

.section-heading {
    display: flex;
    justify-content: space-between;
}

/* picture grid */
.images {
    width: fit-content;
    height: fit-content;
}

.image {
    border-radius: 0.4rem;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.image > img {
    width: 100%;
    height: 100%;
}

/* Posts in home */

.card {
    background-color: var(--gray-25);
    padding: 1.5rem;
    border-radius: 0.25rem;
}

.card time {
    font-family: monospace;
    font-size: 0.8rem;
    color: var(--gray-7);
}

.card h3 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.card a {
    color: black;
}

.card a:hover {
    text-decoration: underline;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-family: monospace;
    font-size: 0.7rem;
    border: solid 1px var(--blue-1);
    background-color: var(--gray-1);
    padding: 0.2rem 0.3rem;
    margin: 0.2rem 0.3rem;
    border-radius: 0.25rem;
}

.tag:hover {
    border: solid 1px var(--blue-4);
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/****** Mobile screens ********/
@media screen and (max-width: 710px) {
    .container {
        margin: 1rem 0 2rem;
        padding: 0 2rem;
    }

    .head-container {
        padding: 2rem 2rem 0.8rem;
    }

    p.hero-description {
        font-size: 1.15rem;
        margin: 1rem 0;
    }

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

}

hr {
    height: 1px;
    width: 70%;
    color: rgb(207, 204, 204);
    margin: 1.5rem auto 2rem;
}

/* Featured projects */
.proj {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    /* margin-bottom: 2rem; */
}

.proj > hr {
    display: none;
}

.clipart {
    flex-shrink: 0;
    margin: 0 1.5rem;
}

.clipart > img {
    width: 135px;
    height: 135px;
}

@media screen and (max-width: 600px) {
    .clipart > img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 460px) {
    .proj {
        flex-direction: column-reverse;
    }
    .proj > hr {
        margin-top: 0.3rem;
        margin-bottom: 0;
        display: block;
    }
    .clipart {
        margin: auto;
        margin-top: 10px;
    }
}

.text h2 > a, .text h3 > a {
    color: #313131;
}

.text > p {
    margin-bottom: 0;
}

/* Resume */
.image-wrapper img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

div#todo {
    width: 30%;
    min-width: 256px;
    margin: auto;
}

/* Todo */
div#todo > img {
    width: 100%;
}

/* Grid layout */

@supports(display: grid) {
    .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.4rem;
    }
    @media screen and (max-width: 1200px) and (min-width: 925px) {
        .images {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media screen and (max-width: 710px) {
        .images {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media screen and (max-width: 535px) {
        .images {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: 370px) {
        .image {
            width: 135px;
            height: 135px;
        }
    }

    .home-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    
    @media screen and (max-width: 1130px) {
        .home-posts {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: 550px) {
        .home-posts {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (min-width: 925px) {
        .grid-container {
            display: grid;
            grid-template-areas: 
                "nul nv"
                "grt mn"
                "ftr mn";
            grid-template-columns: minmax(21rem, 1fr) minmax(0, 2fr);
            grid-template-rows: var(--main-offset) 530px auto;
        }
        
        .greet {
            position: sticky;
            top: var(--nav-height);
            grid-area: grt;
            vertical-align: bottom;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        nav {
            grid-area: nv;
        }
        
        main {
            --main-min-height: calc(100vh - var(--main-offset));
            grid-area: mn;
            min-height: var(--main-min-height);
            scroll-behavior: smooth;
        }
        
        footer {
            --footer-offset: calc(var(--main-offset) + var(--greet-height));
            position: sticky;
            top: var(--footer-offset);
            grid-area: ftr;
        }
    }
}
@supports not (display: grid) {
    main {
        width: 70%;
        margin: auto;
    }
    
    @media screen and (max-width: 700px) {
        main {
            width: 100%;
        }
    }
}

