{% extends "layout.html" %}

{% block customStyleScripts %}
<link rel="stylesheet" href="./static/contact.css">
{% endblock %}

{% block title %}Contact | {% endblock %}
{% block main %}        

<header class="head-container">
    <h1 id="section-c0"><a href="#section-c0">Contact Me</a></h1>
</header>
<section class="container">
    <form class="form-control" action="/contact" method="post">
        <div class="inp-name">
            <div>
                <label for="first-name">First name</label>
                <input name="first-name" type="text" placeholder="John">
            </div>
            <div>
                <label for="last-name">Last name</label>
                <input name="last-name" type="text" placeholder="Doe">
            </div>
        </div>
    
        <div>
            <label for="email">Email</label>
            <input name="email" type="email" placeholder="my@email.com">
        </div>
        <div>
            <label for="message">Message</label>
            <textarea name="message" cols="40" rows="10" placeholder="My message to you"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>

{% endblock %}