{% extends "postLayout.html" %}

{% block postTitle %}Setting up your first coding environment | {% endblock %}
{% block postHero %}
<h1 id="section-p0"><a href="#section-p0">Setting up your first coding environment</a></h1>
<h3>Prerequisites</h3>
<ul>
<li>Using interactive websites on browsers.</li>
<li>Basic knowledge to install a program from a wizard based installer.</li>
</ul>
<h3>What you'll need</h3>
<ul>
<li>A computer with Linux (preferrably Debian or Ubuntu), Windows or MacOS</li>
<li>An active internet connection.</li>
</ul>
<h3>After reading this article, you'll be able to</h3>
<ul>
<li>Install Visual Studio Code</li>
<li>Install Compilers for C and C++</li>
<li>Set up a workspace in vscode</li>
</ul>
{% endblock %}
{% block postSection %}

<section id="introduction" class="container">
<h2><a href="#introduction">Introduction</a></h2>
<p>To make a computer program, one typically starts by writing the <a href="https://en.wikipedia.org/wiki/Source_code" target="_blank">source code</a> in a text editor, compiling it into a binary and finally running the program.<br>
Now all of this can be done if you have:</p>
<ul>
<li>a text editor (like Notepad in windows)</li>
<li>a command line terminal (command prompt) and</li>
<li>a compiler or interpreter depending on the language.</li>
</ul>
<p>An <a href="https://en.wikipedia.org/wiki/Integrated_development_environment" target="_blank">Integrated Development Environment (IDE)</a> is an application that provides all these tools in a single place. A typical IDE contains source code editor, terminal, file browser and a debugger. There are many IDEs available out there but I will be installing <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> which is free and open-source and developed by Microsoft.</p>
</section>


<section id="downloading-and-installing-vscode" class="container">
<h2><a href="#downloading-and-installing-vscode">Downloading and Installing VSCode</a></h2>
<p>VSCode is available on Windows, Linux and MacOS platforms. <a href="https://code.visualstudio.com/Download">Download the vscode installer</a> for your platform.</p>
<p>In windows, you need to run the installer and follow the wizard, in MacOS, you have to move the application downloaded to the applications folder.</p>
<p>For Ubuntu or other Debian based systems, you can install using <code>apt</code> in the terminal.</p>
<pre><code class="language-console">~$ cd Downloads
~/Downloads$ sudo apt-get install ./code_1.69.0-1657183742_amd64.deb
</code></pre>
</section>


<section id="installing-cc-compilers" class="container">
<h2><a href="#installing-cc-compilers">Installing C/C++ compilers</a></h2>
<p>Now that you have vscode installed, you will be able to write your code. All you need is a compiler to compile that source code into machine language program which will then run on the computer.</p>
<p>For C/C++, we will be using the <a href="https://en.wikipedia.org/wiki/GNU_Compiler_Collection">GNU Compilers (<code>gcc</code> and <code>g++</code>)</a> on Windows and Linux.</p>
<h3 id="gcc-on-linux-ubuntu-or-debian"><a href="#gcc-on-linux-ubuntu-or-debian">GCC on Linux (Ubuntu or Debian)</a></h3>
<ul>
<li>
<p>To verity whether GCC is installed, open a terminal window and enter the command</p>
<pre><code class="language-console">$ gcc -v
</code></pre>
</li>
<li>
<p>If GCC isn't installed, update your system's package list and install the GNU compiler tools and the GDB debugger with this command:</p>
<pre><code class="language-console">$ sudo apt-get update
$ sudo apt-get install build-essential gdb
</code></pre>
</li>
</ul>
<h3 id="gcc-on-windows-using-msys"><a href="#gcc-on-windows-using-msys">GCC on Windows using MSYS</a></h3>
<ul>
<li>
<p>Get the latest version of Mingw-w64 (Minimal GNU for Windows) via MSYS2. Mingw is a toolset which provides GNU softwares for windows including GCC. <a href="https://github.com/msys2/msys2-installer/releases/download/2022-01-18/msys2-x86_64-20220118.exe" target="_blank">Download the MSYS2 installer</a>. Open the installer and follow the wizard to complete installation. Check the <em>run MSYS2 64bit now</em> checkbox in the end and click on Finish.</p>
</li>
<li>
<p>In the MSYS command line window, update package databases and base packages.</p>
<pre><code class="language-console">$ pacman -Syu
</code></pre>
</li>
<li>
<p>Run &quot;MSYS2 MSYS&quot; from start menu and update the rest of the base packages.</p>
<pre><code class="language-console">$ pacman -Syu
</code></pre>
</li>
<li>
<p>Now MSYS2 is ready to install packages. Install mingw-w64 GCC to start compiling:</p>
<pre><code class="language-console">$ pacman -S --needed base-devel mingw-w64-x86_64-toolchain
</code></pre>
</li>
</ul>
<h3 id="clang-on-macos"><a href="#clang-on-macos">Clang on MacOS</a></h3>
<ul>
<li>
<p>In MacOS, we will use Clans/LLVM compiler. To check whether it is installed, run the following command in terminal</p>
<pre><code class="language-console">$ clang --version
</code></pre>
</li>
<li>
<p>If Clang isn't installed, install the command line developer tools by entering the command in terminal</p>
<pre><code class="language-console">$ xcode-select --install
</code></pre>
</li>
</ul>
</section>


<section id="getting-familiar-with-vscode" class="container">
<h2><a href="#getting-familiar-with-vscode">Getting familiar with VSCode</a></h2>
<h3 id="vs-code-user-interface"><a href="#vs-code-user-interface">VS Code User Interface</a></h3>
<p><img src="./static/media/posts/vscode-ui-overview.png" alt="VS Code UI"></p>
<p>VS Code UI is divided into five areas:</p>
<ul>
<li><strong>Editor</strong> - The main area to edit your files. Multiple editors (files) can be opened side by side.</li>
<li><strong>Side bar</strong> - Contains different views like Explorer, Source Control, Search, Run and Debug, Extensions</li>
<li><strong>Status Bar</strong> - Information about opened project and files you edit.</li>
<li><strong>Activity Bar</strong> - Enables to switch between different views.</li>
<li><strong>Panels</strong> - Contains the integrated terminal, output panel, debug console and problems panel which shows errors and warnings. It can be moved to right.</li>
</ul>
<blockquote>
<p><strong>Tip:</strong> Toggle the panel using <kbd>Ctrl</kbd>-<kbd>J</kbd> or <kbd>⌘</kbd>-<kbd>J</kbd> shortcut.<br>
Toggle the <strong>integrated terminal</strong>, using <kbd>Ctrl</kbd>-<kbd>`</kbd> or <kbd>⌘</kbd>-<kbd>`</kbd> shortcut.</p>
</blockquote>
<h3 id="activity-bar"><a href="#activity-bar">Activity Bar</a></h3>
<p><img src="./static/media/posts/activity-bar-context-menu.png" alt="Activity bar context menu"></p>
<p>It lets you switch between different views. Buttons can be added or removed and their order can be changed by dragging them. To hide the view (side bar) from screen, press <kbd>Ctrl</kbd>-<kbd>B</kbd> on Windows or <kbd>⌘</kbd>-<kbd>B</kbd> on MacOS.</p>
<h3 id="command-palette"><a href="#command-palette">Command palette</a></h3>
<p><img src="./static/media/posts/command-palette.png" alt="Command Palette"></p>
<p>Anything on vscode can be done with the Command Palette which can be accessed with <kbd>Ctrl</kbd>-<kbd>Shift</kbd>-<kbd>P</kbd> on Windows or with <kbd>⌘</kbd>-<kbd>Shift</kbd>-<kbd>P</kbd> on MacOS.</p>
<blockquote>
<p><strong>Tip:</strong> Using <kbd>Ctrl</kbd>-<kbd>P</kbd> on windows or <kbd>⌘</kbd>-<kbd>P</kbd> on MacOS can be used for navigating to any file or symbol by typing its name</p>
</blockquote>
</section>


<section id="configuring-vscode" class="container">
<h2><a href="#configuring-vscode">Configuring VSCode</a></h2>
<h3 id="install-extensions"><a href="#install-extensions">Install the extensions</a></h3>
<p>Install C/C++ extension to enable support for C/C++ development which includes syntax highlighting, autocomplete suggestions, automated build and debugging etc.</p>
<h4>Installing from command pallete</h4>
<ol>
<li>Open vscode.</li>
<li>The extension can also be installed by typing the following command in the command pallete (<kbd>Ctrl</kbd>-<kbd>Shift</kbd>-<kbd>P</kbd>):<pre><code>ext install ms-vscode
</code></pre>
</li>
</ol>
<h4>Installing from the Extensions view</h4>
<ol>
<li>Open VSCode</li>
<li>Select extensions view from the activity bar in the left</li>
<li>Search for <strong>C/C++</strong> in the extensions view and select the one provided by Microsoft.</li>
<li>Install the extension by clicking on the install button.</li>
</ol>
<h3 id="create-projects-folder"><a href="#create-projects-folder">Create projects folder</a></h3>
<p>Create a folder (say projects/) where you'll be saving all your codes and open that folder in vscode.</p>
<ol>
<li>Open vscode</li>
<li>In the menu bar, select the <strong>File</strong> option.</li>
<li>Click on <strong>Open Folder...</strong></li>
<li>Browse the system to open the folder you just created. This folder now becomes your workspace.</li>
</ol>
</section>


<section id="writing-your-first-program" class="container">
<h2><a href="#writing-your-first-program">Writing your first program</a></h2>
<h3 id="writing-the-code"><a href="#writing-the-code">Writing the code</a></h3>
<ol>
<li>
<p>In the <strong>File Explorer</strong> view, hover over your folder name and four action icons will appear. Click on the 'New file' icon.</p>
</li>
<li>
<p>Set the filename to <code>hello.c</code>.</p>
</li>
<li>
<p>Write the hello world program in C in <code>hello.c</code> file.</p>
<pre><code class="language-C">#include &lt;stdio.h&gt;

int main(void)
{
    printf(&quot;hello, world\n&quot;);
    return 0;
}
</code></pre>
<p>When writing the code you'll notice that vscode is showing you autocomplete suggestions and syntax highlighting. This is enabled by that C/C++ extension which you installed earlier.</p>
</li>
<li>
<p>Save changes to your file (<kbd>Ctrl</kbd>-<kbd>S</kbd> in windows and <kbd>⌘</kbd>-<kbd>S</kbd> in macos).</p>
</li>
</ol>
<h3 id="compilation"><a href="#compilation">Compilation</a></h3>
<h4>Using <code>gcc</code> CLI from vscode terminal (recommended for learners)</h4>
<ol>
<li>
<p>In the menu bar, click on <strong>Terminal</strong> followed by <strong>New Terminal</strong> (<kbd>Ctrl</kbd>-<kbd>`</kbd> in windows or <kbd>⌘</kbd>-<kbd>`</kbd> on macos). This will open a new terminal in vscode.</p>
</li>
<li>
<p>The terminal opens in the folder or directory which you have opened in vscode.</p>
</li>
<li>
<p>The most basic syntax for <code>gcc</code> cli is</p>
<pre><code class="language-console">$ gcc srcfile.c -o outfile
</code></pre>
<ul>
<li><code>srcfile.c</code> is the source file, which is <code>hello.c</code> here</li>
<li><code>-o</code> meaning 'out' is an option to gcc. It places the compilation output into the filename which follows it i.e. <code>outfile</code>.</li>
<li><code>outfile</code> is the executable of binary file which is the final program that runs on the machine.
<ul>
<li>
<p>In windows, every executable has a .exe <a href="https://en.wikipedia.org/wiki/Filename_extension" target="_blank">filename extension</a>. So if you are using windows, compile using</p>
<pre><code class="language-console">$ gcc hello.c -o hello.exe
</code></pre>
<p>The output file in windows will thus be <code>hello.exe</code></p>
</li>
<li>
<p>In Linux or MacOS, there is no need for a filename extension. Compile using</p>
<pre><code class="language-console">$ gcc hello.c -o hello
</code></pre>
<p>The output file is <code>hello</code></p>
</li>
</ul>
</li>
</ul>
</li>
</ol>
<h4>Compilation by shortcut</h4>
<ol>
<li>In the menu bar, select <strong>Terminal</strong> followed by <strong>Configure Default Build Task...</strong></li>
<li>Select the default compiler for compiling all C source codes i.e. <code>gcc</code> in this case.</li>
<li>A new <code>task.json</code> file will be created in <code>.vscode</code> folder where the default compiler and some other configurations will be set. Compilation can be customized further from this file. Close this file and return to <code>hello.c</code> in vscode.</li>
<li>Now you can compile any C source code by keeping it open in vscode and pressing <kbd>Ctrl</kbd>-<kbd>Shift</kbd>-<kbd>B</kbd> in windows or <kbd>⌘</kbd>-<kbd>Shift</kbd>-<kbd>B</kbd> in macos.</li>
</ol>
<p>After compilation, notice in the <strong>Explorer</strong> view (<kbd>Ctrl</kbd>-<kbd>Shift</kbd>-<kbd>E</kbd> in windows or <kbd>⌘</kbd>-<kbd>Shift</kbd>-<kbd>E</kbd> in macos if it is not open), the executable file has been created.</p>
<h3 id="executing-the-program"><a href="#executing-the-program">Executing the program</a></h3>
<ol>
<li>Open the vscode integrated terminal <kbd>Ctrl</kbd>-<kbd>`</kbd> or <kbd>⌘</kbd>-<kbd>`</kbd>.</li>
<li>Run the executable file from terminal, the output will print just below the prompt:
<ul>
<li>In Linux/MacOS:<pre><code class="language-console">$ ./hello
hello world
</code></pre>
</li>
<li>In Windows<pre><code class="language-console">$ ./hello.exe
hello world
</code></pre>
</li>
</ul>
</li>
</ol>
</section>


<section id="writing-more-programs" class="container">
<h2><a href="#writing-more-programs">Writing more programs</a></h2>
<p>With the workspace setup, you can now create another source file from <strong>File Explorer</strong> view, write some code, compile it from the terminal or using <kbd>Ctrl</kbd>-<kbd>Shift</kbd>-<kbd>B</kbd> or <kbd>⌘</kbd>-<kbd>Shift</kbd>-<kbd>B</kbd> and run the program by running <code>filename.exe</code> or simply <code>filename</code>.</p>
<p>e.g. creating a <code>helloagain.c</code> program will be like this:</p>
<pre><code class="language-C">#include &lt;stdio.h&gt;

int main(void)
{
    printf(&quot;hello again world!\n&quot;);
    return 0;
}
</code></pre>
<p>and then compilation and execution</p>
<pre><code class="language-console">$ gcc helloagain.c -o helloagain
$ ./helloagain
hello again world!
</code></pre>
</section>


<section id="references" class="container">
<h2><a href="#references">References</a></h2>
<p>This article was made possible with the help of <a href="https://code.visualstudio.com/docs/" target="_blank">Visual Studio code docs</a> Visit this documentation page to learn more about vscode features like debugging and configuration.</p>

</section>
{% endblock %}
{% block toc %}
<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#downloading-and-installing-vscode">Downloading and Installing VSCode</a></li>
<li><a href="#installing-cc-compilers">Installing C/C++ compilers</a></li>
<li><a href="#getting-familiar-with-vscode">Getting familiar with VSCode</a></li>
<li><a href="#configuring-vscode">Configuring VSCode</a></li>
<li><a href="#writing-your-first-program">Writing your first program</a></li>
<li><a href="#writing-more-programs">Writing more programs</a></li>
<li><a href="#references">References</a></li>
</ul>
{% endblock %}
