{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block main %}

<header class="head-container hero">
    <h1 class="hero-heading" id="section-hero"><a href="#section-hero">Hello!</a></h1>

    <p class="hero-description">I'm Chandrashekhar, a computer science student pursuing B. Tech. from <a
            href="https://www.nitap.ac.in/" target="_blank" rel="noreferrer">NIT Arunachal Pradesh</a>. I like pop
        music, coding, sketching and shooting photos.
        <br><br>
        This is the spot for finding my projects and articles I share with the world &#128518;
    </p>
</header>

<section class="container">
    <h2 id="section-h0"><a href="#section-h0">Interests</a></h2>
    <div class="images">
        <div class="image">
            <img src="./static/media/square/1.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/2.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/3.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/4.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/5.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/6.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/7.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/8.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/9.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/10.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/11.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/12.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/13.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/14.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/15.jpg" alt="image">
        </div>
        <div class="image">
            <img src="./static/media/square/16.jpg" alt="image">
        </div>

    </div>
</section>

<section class="container">
    <h2 id="section-h1"><a href="#section-h1">Skills</a></h2>
    <ul>
        <li>OSes: <span style="color: #332f7e;">Linux</span></li>
        <li>Programming languages: <span style="color: #332f7e;">C, C++, Java</span></li>
        <li>Scripting languages: <span style="color: #332f7e;">Python, TypeScript, JavaScript, Bash</span></li>
        <li>Markup languages: <span style="color: #332f7e;">HTML, Markdown</span></li>
        <li>Version control: <span style="color: #332f7e;">Git</span></li>
        <li>Database: <span style="color: #332f7e;">SQL, Firebase</span></li>
        <li>Backend Frameworks: <span style="color: #332f7e;">Django, NodeJS, Flask</span></li>
        <li>Frontend Frameworks: <span style="color: #332f7e;">Angular, React</span></li>
        <li>Designing: <span style="color: #332f7e;">CSS</span></li>
    </ul>
    <br>
    <p>Contact me at <a href="mailto:tripathics@outlook.com">tripathics@outlook.com</a>.</p>
</section>

<section class="container">
    <div class="section-heading">
        <h2 id="section-h2"><a href="#section-h2">What's new</a></h2>
        <a class="button" href="./posts">View all</a>
    </div>
    <div class="home-posts">
        <article class="card">
            <time>Jul 7, 2022</time>
            <h3><a href="./python-for-c-programmers">Python for C programmers</a></h3>
            <div class="tags">
                <span class="tag">Python</span>
                <span class="tag">Beginner</span>
            </div>
        </article>

        <article class="card">
            <time>Jun 5, 2022</time>
            <h3><a href="">My journey through Angular</a></h3>
            <div class="tags">
                <span class="tag">Front-end</span>
                <span class="tag">TypeScript</span>
                <span class="tag">Walkthrough</span>
            </div>
        </article>

        <article class="card">
            <time>February 28, 2022</time>
            <h3><a href="">Introduction to Linux Terminal</a></h3>
            <div class="tags">
                <span class="tag">Command line</span>
                <span class="tag">Terminal</span>
                <span class="tag">Linux</span>
            </div>
        </article>

        <article class="card">
            <time>January 27, 2022</time>
            <h3><a href="">Installing Arch Linux on a Virtualbox VM</a></h3>
            <div class="tags">
                <span class="tag">Linux</span>
                <span class="tag">OS</span>
                <span class="tag">VM</span>
            </div>
        </article>

        <article class="card">
            <time>December 18, 2021</time>
            <h3><a href="">Creating a simple typing game webapp</a></h3>
            <div class="tags">
                <span class="tag">JavaScript</span>
                <span class="tag">Events</span>
                <span class="tag">API</span>
            </div>
        </article>

        <article class="card">
            <time>August 17, 2020</time>
            <h3><a href="./first-coding-environment-setup">Setting up your first coding environment</a></h3>
            <div class="tags">
                <span class="tag">IDE</span>
                <span class="tag">C</span>
                <span class="tag">VSCode</span>
            </div>
        </article>
    </div>
</section>

<section class="container projects">
    <div class="section-heading">
        <h2 id="section-h3"><a href="#section-h3">Featured projects</a></h2>
        <a class="button" href="./projects">View all</a>
    </div>

    <article class="proj">
        <hr>
        <div class="clipart">
            <img src="./static/media/typing-game.png" alt="Typewriter clipart">
        </div>
        <div class="text">
            <h2><a href="https://tripathics.github.io/typing-game" target="_blank">Typing Game</a></h2>
            <p>A simple web app made out of HTML, CSS and JavaScript. It is compatible with most modern browsers on both
                desktop and mobiles. It works mainly on events. JQuery Get is used for getting the quotes from <a
                    href="https://github.com/lukePeavey/quotable">Quotable API</a> which the user types.</p>
            <p><a href="https://github.com/tripathics/typing-game" target="_blank">View source</a></p>
        </div>
    </article>

    <article class="proj">
        <hr>
        <div class="clipart">
            <img src="./static/media/loanenq.png" alt="Loan eligible verification clipart">
        </div>
        <div class="text">
            <h2><a href="https://github.com/tripathics/LoanEnq" target="_blank">Loan Enquiry System</a></h2>
            <p>A Java CLI program which tells if you are eligible for a loan by checking the background of the user. The
                user is given questions which they have to answer in order to know if they are eligible or not.</p>
            <p><a href="https://github.com/tripathics/LoanEnq" target="_blank">View source</a></p>
        </div>
    </article>

    <article class="proj">
        <hr>
        <div class="clipart">
            <img src="./static/media/todo.png" alt="Todo list clipart">
        </div>
        <div class="text">
            <h2><a href="https://github.com/tripathics/todo-list" target="_blank">Todo List</a></h2>
            <p>A CLI program written in Python to create and manage a todo list. This was my first program in which I
                used Object Oriented Programming concepts. The list is created in a csv database.</p>
            <p><a href="https://github.com/tripathics/todo-list" target="_blank">View source</a></p>
        </div>
    </article>


</section>

<section class="container resume">
    <div class="section-heading">
        <h2 id="section-h4"><a href="#section-h4">Resume</a></h2>
        <a class="button" href="https://1drv.ms/b/s!AnLTSa_M6LzggsQ6jQZR5gu_Jln6xQ?e=Bdh9Ky" target="_blank">Download
            .pdf</a>
    </div>
    <div class="image-wrapper">
        <img src="./static/media/Chandrashekhar_Tripathi-resume.png" alt="resume">
    </div>
</section>

{% endblock %}